<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>pasters</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
  </head>
  <body>
    <center>
      {{#if error}} <div class="error"> <strong>Error:</strong> {{error}} </div> {{/if}}
      {{#if success}} <div class="success"> <strong>Success:</strong> {{success}} </div> {{/if}}
      {{#if success_create}} <div class="success"> <strong>Success</strong> Paste created: <a href={{success_create}}>{{success_create}}</a></div> {{/if}}
      <form action="/" enctype="text/plain" method="post">
        <textarea name="paste" cols="40" rows="5"></textarea><br>
        <input type="submit" value="Create Paste">
      </form>
      <br>
      <form action="/remove" method="post" accept-charset="utf-8">
        <input type="text" name="paste_id" value="Paste ID">
        <input type="text" name="paste_key" value="Paste Key">
        <input type="submit" value="Delete Paste">
      </form>
    </center>
  </body>
</html>
